<!DOCTYPE html>
<html ng-app="directoryApp">
  <head>
    <meta charset="utf-8">
    <title>Angular JS for Everyone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="directory.js"></script>
  </head>
  <body ng-controller="directoryCtrl as dirList">
      Search: <input type="text" ng-model="search" placeholder="Search the name"/>
      <h1>{{search}}</h1>
      <ul>
        <li ng-repeat="item in dirList.list | filter:search | orderBy:'-age' | limitTo: 3" class="person-{{item.name | lowercase}}">
          {{item.name | uppercase}} - <i>{{item.age | currency:"&yen;":3}}</i>
        </li>
      </ul>

      <form ng-submit="dirList.addPerson()">
        <input type="text" placeholder="Name" ng-model="dirList.name"><br/>
        <input type="number" placeholder="Age" ng-model="dirList.age"><br/>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
