<!DOCTYPE html>
<html ng-app="directoryApp">
  <head>
    <meta charset="utf-8">
    <title>Angular JS for Everyone</title>
    <link href="http://code.ionicframework.com/1.1.0/css/ionic.min.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/1.1.0/js/ionic.bundle.js"></script>
    
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>-->
    <script src="directory3.js"></script>
    <style>
    .over-30 {
      background: red;
      color: white;
    }
    .under-30 {
      background: blue;
      color: white;
    }
    </style>
  </head>
  <body ng-controller="directoryCtrl as dirList">
      Search: <input type="text" ng-model="search" placeholder="Search the name"/>
      <h1>{{search}}</h1>
      <ul>
        <li ng-repeat="item in dirList.list | filter:search"
            ng-class="{'over-30': item.age > 30, 'under-30': item.age < 30}"
        >
          {{item.name}} - <i>{{item.age}}</i>
        </li>
      </ul>

      <form ng-submit="dirList.addPerson()">
        <input type="text" placeholder="Name" ng-model="dirList.name"><br/>
        <input type="number" placeholder="Age" ng-model="dirList.age"><br/>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
